* {
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(to left, rgb(87, 81, 81), rgb(110, 107, 107));
    display: flex;
    color: aliceblue;
    display: grid;
    place-items: center;

}
 section{
    background: rgba(255, 255, 255, .4);
    padding: 30px;
    border-radius: 27px;
    text-align: center;
}
p {
    font-size: 100px;
}